.header{
    position: absolute;
    left: 0.16%;
    right: -0.16%;
    top: -0.35%;
    bottom: 96.23%;
    background: #FFFFFF;
    width: 100%;
    height: 200px;
}

.logo{
    position: absolute;
    left: 36.98%;
    right: 36.98%;
    top: 0.83%;
    bottom: 97.44%;
    background-image: url('res/LOGO.png');
}

.nav{
    .font{
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        /* identical to box height */

    }
    &__category{
        position: absolute;
        left: 16.72%;
        right: 75.16%;
        top: 3.14%;
        bottom: 96.47%;
    }
    &__brand{
        position: absolute;
        left: 31.88%;
        right: 61.46%;
        top: 3.14%;
        bottom: 96.47%;
    }
    &__collection{
        position: absolute;
        left: 45%;
        right: 45.94%;
        top: 3.14%;
        bottom: 96.47%;
    }
    &__about{
        position: absolute;
        left: 60.94%;
        right: 32.6%;
        top: 3.14%;
        bottom: 96.47%;
    }
    &__shop{
        position: absolute;
        left: 75.73%;
        right: 18.54%;
        top: 3.14%;
        bottom: 96.47%;
    }

}